#not-found {
  background: url('../../assets/images/wall.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  color: red;
  font-size: auto;
  font-weight: 600;
}

.message {
  margin-top: 15%;
}